/* General */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* 
{
    margin: 0;
    padding: 0;
    border: black 0.1rem solid;
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

/* Title */

.title
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.title span
{
    width: 70%;
    height: 5px;
    background-color: black;
    align-self: center;
}

.home-icon-container
{
    display: flex;
    align-content: center;
    border: black 0.3rem solid;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    margin-left: 1rem;
    align-self: last baseline;
    margin-right: 6rem;
    transition: all 200ms ease-in-out;
}

.home-icon-container:hover
{
    cursor: pointer;
    transform: scale(1.15, 1.15);
}

.home-icon
{
    height: 80px;
}

/* Question */

#main-container
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#question-app
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 1000px;
    border: black 0.4rem solid;
    border-radius: 2rem;
    align-items: center;
}

#question
{
    position: absolute;
    margin-top: 7rem;
}

.btn
{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    background-color: white;
    font-size: 1.25rem;
    align-self: center;
    margin-top: 1rem;
}

.btn:hover
{
    cursor: pointer;
    background-color: black;
    color: white;
}

#btn-container
{
    position: relative;
    display: flex;
    gap: 2rem;
    width: 100%;
    height: inherit;
    justify-content: center;

}

#no-btn
{
    position: absolute;
    top: 27rem;
}

h2
{
    font-size: 4rem;
}

.test
{
    position: absolute;
    border: black 0.1rem solid;
    height: 700px;
    width: 1000px;
}