/* General */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* 
{
    margin: 0;
    padding: 0;
    /* border: black 0.1rem solid; */
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

/* Title */

.title
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.title span
{
    width: 70%;
    height: 5px;
    background-color: black;
    align-self: center;
}

.home-icon-container
{
    display: flex;
    align-content: center;
    border: black 0.3rem solid;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    margin-left: 1rem;
    align-self: last baseline;
    margin-right: 6rem;
    transition: all 200ms ease-in-out;
}

.home-icon-container:hover
{
    cursor: pointer;
    transform: scale(1.15, 1.15);
}

.home-icon
{
    height: 80px;
}

/* Weather App */

#main-container
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#weather-app
{
    display: flex;
    border: black 0.5rem solid;
    border-radius: 2rem;
    height: 600px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    background: rgb(175, 175, 175);
}

/* Input */

.input
{
    display: flex;
    gap: 2rem;
    width: 100%;
}

.input input
{
    height: 4rem;
    width: 100%;
    border: black 0.2rem solid;
    border-radius: 10rem;
    padding: 0 1rem;
    font-size: 1.25rem;
    text-align: center;
    background: rgb(216, 216, 216);
}

#search-btn
{
    box-sizing: border-box;
    display: flex;
    background: white;
    height: 100%;
    border: black 0.2rem solid;
    border-radius: 15rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 6rem;
    transition: all 200ms ease-in-out;
    background: rgb(216, 216, 216);
}

#search-btn:hover
{
    cursor: pointer;
    background: black;
}

#search-btn:hover svg
{
    fill: white;
}

#search-btn svg
{
    height: 30px;
    width: 30px;
}

/* Weather Info Display */

#weather-info-primary
{
    text-align: center;
}

h2
{
    font-size: 6rem;
}

h3
{
    font-size: 2rem;
}

/* Weather Info */

#hourly-weather-info
{
    display: flex;
    width: 100%;
    gap: 2rem;
    overflow-x: scroll;
}

.hour-info
{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.7rem;
}

h4
{
    font-size: 1.3rem;
}

#hourly-weather-info::-webkit-scrollbar {
    width: 2em;
    height: 1em;
  }
  
  #hourly-weather-info::-webkit-scrollbar-track {
    background: hsl(0, 0%, 60%);
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  
  #hourly-weather-info::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 40%);
    border: 0.25em solid hsl(0, 0%, 60%);
    border-radius: 100vw;
    transition: all 200ms ease-in-out;
  }
  
  #hourly-weather-info::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 25%);
  }